/* standardise the document */

html,
main {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.site-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* reuseable components */

/* header styles */

/* dashboard */

.dashboard-day {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 50%;
}

.dashboard-week {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 50%;
}

.dashboard-year {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
}
