{% extends 'base.html'%}
{% block content %}

<div class="summary-card">
    <h2>Today's Summary</h2>
    <p>Calories In: {{ total_food_day }} kcal</p>
    <p>Calories Out: {{ total_burn_day }} kcal</p>
    <p>
        Net:
        <span>
            {{ net_day }} kcal
        </span>
    </p>
</div>

<div class="summary-card">
    <h2>This Calendar Week</h2>
    <p>Calories In: {{ total_food_calendar_week }} kcal</p>
    <p>Calories Out: {{ total_burn_calendar_week }} kcal</p>
    <p>
        Net:
        <span>
            {{ net_calendar_week }} kcal
        </span>
    </p>
</div>

<div class="summary-card">
    <h2>This Rolling Week</h2>
    <p>Calories In: {{ total_food_rolling_week }} kcal</p>
    <p>Calories Out: {{ total_burn_rolling_week }} kcal</p>
    <p>
        Net:
        <span>
            {{ net_rolling_week }} kcal
        </span>
    </p>
</div>

{% endblock content %}
