{% extends "base.html" %} {% block content %}


<h2>Calorie Tracker Dashboard</h2>

<h3>Today</h3>

{% if food_logs_day %}

<h4>Food Intake</h4>

<table>
    <thead>
        <tr>
            <th>Meal</th>
            <th>Type</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        {% for food in food_logs_day %}
        <tr>
            <td>{{ food.meal_name }}</td>
            <td>{{ food.meal_type }}</td>
            <td>{{ food.calories_in }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No food logged today</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% if cardio_logs_day %}

<h4>Calorie Burn</h4>

<table>
    <thead>
        <tr>
            <th>Activity</th>
            <th>Duration (mins)</th>
            <th>Calorie Burn</th>
        </tr>
    </thead>
    <tbody>
        {% for cardio in cardio_logs_day %}
        <tr>
            <td>{{ cardio.cardio_name }}</td>
            <td>{{ cardio.duration }}</td>
            <td>{{ cardio.calories_out }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No cardio logged today</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}

<h3>Weekly Data</h3>

<h4>7 Day History</h4>

<h4>This Week</h4>

{% endblock %}
