<!DOCTYPE html>
<html>
<head>
    <title>Calorie Tracker</title>
</head>
<body>
    <header>
        <h1>Calorie Tracker</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'calorie_tracker:food_list' %}">Food Logs</a> |
            <a href="{% url 'calorie_tracker:add_food' %}">Add Food</a> |
            <a href="{% url 'calorie_tracker:cardio_list' %}">Cardio Logs</a> |
            <a href="{% url 'calorie_tracker:add_cardio' %}">Add Cardio</a>
        </nav>
        <hr>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
