 {% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Calorie Tracker - {{ page_title }}</title>
        <link rel="stylesheet" href="{% static 'css/calorie_tracker.css' %}">
    </head>
    <body>
        <header class="header">
            <h1>{{ page_title }}</h1>
            <nav>
                <a href="{% url 'calorie_tracker:home' %}">Dashboard</a> |
                <!-- <a href="{% url 'calorie_tracker:calendar_week_summary' %}">Weekly Summary</a> |
                <a href="{% url 'calorie_tracker:rolling_week_summary' %}">Weekly Summary</a> | -->
                <a href="{% url 'calorie_tracker:add_food' %}">Add Food</a> |
                <a href="{% url 'calorie_tracker:add_cardio' %}">Add Cardio</a> |
                <!-- <a href="{% url 'calorie_tracker:food_day' %}">Food Logs</a> |
                <a href="{% url 'calorie_tracker:food_calendar_week' %}">Food Logs</a> |
                <a href="{% url 'calorie_tracker:food_rolling_week' %}">Food Logs</a> |
                <a href="{% url 'calorie_tracker:cardio_day' %}">Cardio Logs</a> |
                <a href="{% url 'calorie_tracker:cardio_calendar_week' %}">Cardio Logs</a> |
                <a href="{% url 'calorie_tracker:cardio_rolling_week' %}">Cardio Logs</a> | -->
            </nav>
            <hr />
        </header>
        <div class="site-wrap">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
