{% extends "base.html" %}
{% block content %}
<h2>Cardio Logs (Today)</h2>

{% if cardio_logs %}
<table>
    <thead>
        <tr>
            <th>Activity</th>
            <th>Duration</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        {% for cardio in cardio_logs %}
        <tr>
            <td>{{ cardio.cardio_name }}</td>
            <td>{{ cardio.duration }} minutes</td>
            <td>{{ cardio.calories_out }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No cardio logged today</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No cardio logs for today.</p>
{% endif %}
{% endblock %}
